// Brand colours

$minco-black: RGBA(0, 0, 0, 1);
$minco-white: RGBA(255, 255, 255, 1);
$minco-white-transparent: RGBA(255, 255, 255, 0.2);
$minco-blue: RGBA(0, 129, 198, 1);

$border-thick: 10px solid $minco-blue;

// Fonts

$brand-font-family: calibri;
$default-font-stack: $brand-font-family, "Helvetica Neue", Helvetica, Arial, sans-serif;

$default-font-size: 16;
$default-line-height: 1.7;


$font-bold: 700;
$font-medium: 500;

%basic-paragraph {
  font-size: 18px;
  font-family: $default-font-stack;
}

// Baseline unit

$baseline-unit: 6;
$browser-default-font-size: 16;

@function baseline-unit($multiplier) {
  @return ($multiplier * $baseline-unit) / $browser-default-font-size + rem
}

.clear {
    clear:both;
}


// Breakpoints

$small: 30em; // 480px
$medium: 48em; // 768px
$large: 61em; // 976px
