body {
  font-family: $default-font-stack;
}

p {
  @extend %basic-paragraph;
}

blockquote {
  @extend %basic-paragraph;
}

li {
  @extend %basic-paragraph;
}



p,
blockquote,
li {
  font-size: 18px;
  font-family: Museo Sans;
}
