
@viewport {
  width: device-width;
  min-zoom: 1;
  max-zoom: 2;
}

body {
  font-family: $default-font-stack;
}//body

p {
  @extend %basic-paragraph;
}//p

blockquote {
  @extend %basic-paragraph;
}//blockquote

li {
  @extend %basic-paragraph;
}//li

.clear {
  clear:both;
}//clear

@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
