.l-constrained {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.l-content {
  width:100%;
  margin-right:auto;
  margin-left: 4%;
}

.l-sidebar{
  width: 13%;
  float: left;
  margin-top: 3.70%;
  border-right: solid 0.1em $minco-blue;
}

.l-main {
  width: 85%;
  float: right;
  margin-top: 3.70%;
}
