<footer class="footer">
  <div class="l-constrained">
    <a href="tel:">+44 20 8133 3916</a>
    <ul class="footer-links">
      <li class="footer-links__item"><a class="footer-links__link" href="">Legal</a></li>
      <li class="footer-links__item"><a class="footer-links__link" href="">Disclaimer</a></li>
    </ul>

    <p>Address</p>
  </div>
</footer>
