<header class="header">
  <div class="l-constrained">
    <div class="logo">
      <a href="/">
        <%= image_tag 'minco-logo.png' %>
      </a>
    </div>

    <nav role="navigation">
      <ul class="nav">
        <li class="nav__item"><a class="nav__link" href="/about.html">Company</a></li>
        <li class="nav__item"><a class="nav__link" href="">Products</a></li>
        <li class="nav__item"><a class="nav__link" href="">Washing</a></li>
        <li class="nav__item"><a class="nav__link" href="">CSR</a></li>
        <li class="nav__item"><a class="nav__link" href="">Contact Us</a></li>
      </ul>

      <div class="language">
        <span class="icon icon--globe"></span>
      </div>

      <div class="search">
        <span class="icon icon--search"></span>
      </div>
    </nav>
  </div>
</header>
